.btn {
  @include button-reset;
  padding: 11px 70px 11px 75px;

  background-color: $secondary-color;
  color: $WHITE;

  font-size: 22px;
  border-radius: 50px;

  @media (max-width: 1024px) {
    font-size: 16px;
    padding: 8px 22px;
  }

  @media (max-width: 680px) {
    font-size: 14px;
  }

  &--primary {
    background-color: $primary-color;
  }
}
