.cases {
  @include list-reset;

  padding: 0 40px;
  text-align: left;

  @media (max-width: 1024px) {
    padding: 0;
  }

  &__container {
    @include flex-container(space-between, center);
  }

  &__item {
    margin: 0;

    &:first-child {
      margin-bottom: 27px;

      @media(max-width: 1024px) {
        margin-bottom: 0;
      }

      @media (max-width: 680px) {
        margin-bottom: 10px;
      }

      .cases__picture-wrapper {
        padding: 61px 43px 20px;

        background-position: 7px 20px;

        @media (max-width: 1024px) {
          background-size: 615px;
          background-position: 10px 28px;
        }

        @media (max-width: 680px) {
          max-width: 100%;
          margin: 0 auto;
        }

        &::before {
          left: 121px;
          top: 19px;

          height: 30px;
          width: 40px;

          background-position: -64px -59px;
        }

        &::after {
          left: 232px;
          top: 160px;

          height: 66px;
          width: 40px;

          background-position: -64px -118px;
        }
      }

      .cases__img {
        max-width: 188px;
        transform: rotate(1deg);
      }
    }

    &:nth-child(2) {
      .cases__picture-wrapper {
        padding: 60px 50px 45px;

        background-position: -384px 5px;

        @media (max-width: 1024px) {
          padding: 60px 37px 45px;
        }

        @media (max-width: 680px) {
          order: -1;

          max-width: 100%;
          margin: 0 auto;
        }

        &::before {
          left: 12px;
          top: 269px;

          height: 38px;
          width: 40px;

          background-position: -119px -60px;
        }

        &::after {
          left: 172px;
          top: 27px;

          height: 35px;
          width: 60px;

          background-position: 0px 0;
        }
      }

      .cases__img {
        max-width: 206px;
      }
    }

    &:last-child {
      margin-bottom: 0;
      margin-top: 44px;

      @media (max-width: 680px) {
        margin-top: 0;
      }

      .cases__picture-wrapper {
        padding: 53px 54px 55px;

        background-position: 17px -352px;

        @media (max-width: 1024px) {
          padding: 53px 24px 55px;

          background-size: 549px;
          background-position: 2px -265px;
        }

        @media (max-width: 680px) {
          max-width: 100%;
          margin: 0 auto;
        }

        &::before {

          left: 21px;
          top: 25px;

          height: 38px;
          width: 40px;

          background-position: 0 -132px;
        }

        &::after {
          left: 275px;
          top: 157px;

          height: 65px;
          width: 40px;

          background-position: -124px -107px;
        }
      }

      .cases__img {
        max-width: 216px;
      }

      .cases__text-block {
        max-width: 64%;
        padding: 70px 40px 70px 28px;

        @media (max-width: 1024px) {
          max-width: 55%;
          padding: 40px 25px;
        }

        @media (max-width: 680px) {
          max-width: 100%;
          padding: 20px;
        }
      }

      .cases__text {
        margin: 0;
      }

      .cases__btn {
        margin-top: 90px;

        @media (max-width: 680px) {
          margin-top: 30px;
        }
      }
    }
  }

  &__picture-wrapper {
    position: relative;

    background-image: url("../img/cases-sprite.svg");
    background-repeat: no-repeat;
    background-size: 665px;

    min-width: 36%;

    &::after {
      position: absolute;
      content: "";
      
      background-image: url("../img/icon-sprite.svg");
      background-repeat: no-repeat;
      background-size: 155px;
    }

    &::before {
      position: absolute;
      content: "";
      
      background-image: url("../img/icon-sprite.svg");
      background-repeat: no-repeat;
      background-size: 155px;
    }

    @media (max-width: 1024px) {
      max-width: 47%;
    }
  }

  &__img {
    position: relative;

    max-width: 200px;
  }

  &__text-block {
    max-width: 62%;
    padding: 70px 40px 70px 25px;

    @media (max-width: 1024px) {
      max-width: 55%;
      padding: 40px 25px;
    }

    @media (max-width: 680px) {
      max-width: 100%;
      padding: 20px;
    }
  }

  &__case-title {
    @include indent-reset;

    margin-bottom: 23px;

    font-weight: 700;
    font-size: 24px;
    line-height: 95.9%;
  }

  &__text {
    @include indent-reset;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.1px;
    color: $BLACK;

    &--main {
      position: relative;

      padding-left: 65px;
      margin-bottom: 17px;

      line-height: 20px;
      letter-spacing: 0;
      color: $primary-color;

      &::before {
        position: absolute;
        left: 0;
        top: 2px;
  
        height: 44px;
        width: 62px;
  
        content: "";
        
        background-image: url("../img/icon-sprite.svg");
        background-repeat: no-repeat;
        background-size: 155px;
        background-position: -1px -58px;
      }
    }
  }

  &__btn {
    position: relative;

    max-width: 180px;
    padding: 10px 54px 8px 23px;
    margin-top: 18px;

    font-size: 14px;

    &::after {
      position: absolute;
      right: 22px;
      top: 15px;

      height: 10px;
      width: 18px;

      content: "";

      background-image: url("../img/icon-sprite.svg");
      background-repeat: no-repeat;
      background-size: 155px;
      background-position: -86px 0;
    }
  }
}
