.footer {
  &__section {
    padding-bottom: 18px;
    text-align: center;
  }

  &__container {
    @include flex-container(space-between, center);

    padding: 31px 78px 31px 62px;
    background-color: $dark-shades;

    @media (max-width: 1170px) {
      justify-content: center;
    }

    @media(max-width: 1024px) {
      padding: 20px;
    }
  }

  &__page-nav {
    @include indent-reset;
  }

  &__contacts {
    @media (max-width: 1170px) {
      margin-top: 20px;
    }
  }
}