.header {
  padding-bottom: 140px;

  background-image: url("../img/main-background.svg");
  background-repeat: no-repeat;
  background-size: 2284px;
  background-position: -632px -64px;

  &__bar {
    @include flex-container(space-between, start);

    padding: 28px 0;
  }

  &__logo {
    max-width: 208px;
    margin-top: 27px;
  }

  &__title {
    max-width: 560px;
    margin-top: 55px;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 35px;
    line-height: 111.4%;
  }

  &__section {
    margin-top: 465px;
  }
}
