.helper-btn {
  @include button-reset;
  position: relative;

  min-width: 145px;
  padding: 8px 0 7px 52px;

  color: $primary-color;
  font-weight: 700;

  @media (max-width: 680px) {
    font-size: 14px;
  }

  &::before {
    position: absolute;

    left: 0;
    top: 1px;
    height: 38px;
    width: 38px;

    content: url("../img/logo-icon.svg");

    @media (max-width: 680px) {
      left: 10px;
      top: 3px;

      height: 30px;
      width: 30px;
    }
  }

  &--colored {
    padding: 12px 48px 9px 68px;

    color: $WHITE;
    background-color: $primary-color;
    font-size: 16px;

    @media (max-width: 1024px) {
      padding: 8px 22px 8px 52px;

      font-size: 16px;
    }

    @media (max-width: 680px) {
      font-size: 14px;
    }

    &::before {
      position: absolute;
  
      left: 46px;
      top: 10px;
      height: 30px;
      width: 14px;
  
      content: url("../img/logo-icon-transparent.svg");

      @media (max-width: 1024px) {
        left: 30px;
        top: 6px;
      }
    }
  }
}