.page-section {
  padding: 20px 0 45px;
  text-align: center;

  &--begin {
    padding: 85px 0 130px;

    background-image: url("../img/header_background.svg");
    background-repeat: no-repeat;
    background-size: 1935px;
    background-position: 50% 0px;
  }

  &--questions {
    padding: 49px 0 67px;

    background-image: url("../img/footer_background.svg");
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: 50% 0;
  }

  &__title {
    position: relative;

    margin: 0 auto;
    max-width: 560px;

    font-size: 30px;
    font-weight: bold;
    line-height: 117.4%;

    &--questions {
      font-size: 35px;
      line-height: 52px;
    }

    &--primary {
      max-width: fit-content;
      font-size: 40px;

      &::before {
        position: absolute;
        left: -27px;
        top: 18px;
  
        height: 10px;
        width: 10px;
  
        content: "";
  
        background-image: url("../img/icon-sprite.svg");
        background-repeat: no-repeat;
        background-size: 155px;
        background-position: -144px 0;
      }

      &::after {
        position: absolute;
        right: -26px;
        top: 18px;
  
        height: 10px;
        width: 10px;
  
        content: "";
  
        background-image: url("../img/icon-sprite.svg");
        background-repeat: no-repeat;
        background-size: 155px;
        background-position: -144px 0;
      }
    }
  }

  &__text {
    max-width: 265px;
    margin: 7px auto 28px;
  }

  &__btns-list {
    margin-top: 39px;
  }
}