html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	min-width: 320px;
	margin: 0;

	background-color: $WHITE;
	
	font-family: "Circe", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: $text-primary-color;

	transition: color, background-color 0.8s;
}

body.modal-active {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
