@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin list-el-reset() {
  padding: 0;
  list-style: none;
}

@mixin indent-reset() {
  margin: 0;
  padding: 0;
}

@mixin flex-container($justify-content, $align-items: stretch) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin background-image($url, $background-position: 0% 0%) {
  background-image: $url;
  background-repeat: no-repeat;
  background-position: $background-position;
}

@mixin button-reset { /*сбрасываем стили кнопки*/
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer; /*отображаем курсор*/
}
