$primary-color:#fe5f5f;
$secondary-color: #3865a7;
$dark-color: #2b2b2b;

$WHITE: #ffffff;
$BLACK: #000000;

$white-like: #e5e5e5;
$dark-shades: #2f2f2f;

$light-background-accent:#f1f2f2;

$text-primary-color: $dark-color;
$text-secondary-color: $WHITE;
$background-color: $WHITE;
$background-secondary-color: $dark-shades;
